<div class="container on-left ewid tmar25">
  <div class="ifont fullwid bline bpad15 font4rem"><%= @person.first_name %> <%= @person.last_name %><br>
  </div>
  <%= link_to "", people_path, class: "glyphicon grayfont glyphicon-arrow-left eefont pull-left nodec2 font3rem tmar5" %>
  <%= link_to "", welcome_index_path, class: "glyphicon grayfont glyphicon-home eefont pull-right nodec2 font3rem tmar5" %><br>
  <div class="bmar50">
  </div>
      <div class="col-md-4 bmar25">
      <div class="bpad15 bline wid90per">
        <% if @person.completed != true %>
            REG. STATUS: <span class="glyphicon glyphicon-warning-sign redfont"> - INCOMPLETE</span><br>
            ACTION: <%= link_to " - Mark Complete", people_mark_completed_path(@person, id: @person.id), method: :mark_complete, class: "glyphicon glyphicon-ok greenfont" %><br>
        <% else %>
            REG. STATUS: <span class="greenfont">Registration Complete</span><br>
        <% end %>
        <% if @person.waiting != true %>
            GATE STATUS: <span class="greenfont">Not Waiting</span><br>
        <% else %>
            GATE STATUS: <span class="glyphicon glyphicon-warning-sign redfont"> - WAITING AT GATE</span><br>
            ACTION: <%= link_to "Click to Resolve", people_waiting_path(@person, id: @person.id), method: :waiting, class: "glyphicon glyphicon-ok greenfont" %><br>
        <% end %>
        <%= @person.company %> - <%= @person.position %><br>
        ID: <%= @person.card_number %><br>
        EMAIL: <%= @person.email %>
        H2S: <%= @person.h2s %><br>
        IMG: <%= image_tag(@person.document.thumb.url, alt: 'Image', class: 'wid150') if @person.document? %><br>
        TEL: <%= @person.phone %><br>
        NOTES:
        <div class="mailchimpformborder lpad5 tpad5 bpad5">
          <%= @person.note %>
        </div><br>
        <small class="lmar2">Added on: <%= @person.created_at %></small><br>
        <small class="lmar2">While at: <%= @person.rig %></small><br>
        <%= link_to "", edit_person_path(@person, id: @person.id), class: "font3rem nodec2 glyphicon glyphicon-edit rpad50 tmar15" %>
        <%= link_to "", @person, method: :delete, class: 'font3rem nodec2 redfont glyphicon glyphicon-trash', data: {confirm: 'Are you sure you want to delete this Person?'} %>
      </div>
    </div>
</div>
<div class="grayfont tcent bmar50 row lmar25 rmar25">
  <small class="tcent wid75per grayfont wid75per bmar25 lmar25 rmar25"> © 2017-2018 WellFence LLC. All Rights Reserved. Patented & Patent Pending. Wellfence ® is a registered trademark of Wellfence LLC.<br> Support: 832.940.9797</small>
</div>
