<!DOCTYPE html>
<% if flash[:notice] %>
  <div class="tpad25px tcent alert alert-success z4 wid100per alertbanner ralefont">
    <button type="button" class="close tpad0 pull-right alertbanner" data-dismiss="alert">x</button>
    <div class="tpad10">
      <%= flash[:notice] %>
    </div>
  </div>
<% elsif flash[:alert] %>
  <div class="tcent tpad25 alert alert-warning z4 wid100per alertbanner ralefont">
    <button type="button" class="close tpad0 pull-right alertbanner" data-dismiss="alert">X</button>
    <div class="tpad10">
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>
<html>
  <head>
    <title>WellFence</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
